.arkaplan{
	height:1400px;
	width:100%;
	background-image:url(arkap.jpg);
	background-position:center;

}
.ust{

	height:450px;
	width:950px;
	color:yellow;
	margin-left: 150px;
	margin-right:150px;
}
.resim{
	background-image:url(foto.jpg);
	background-position:center;
	height:400px;
	width:950px;


}
.menu{
	background-color:red;
	height:50px;
	width:950px;

}
.menu ul{

	margin:0px;
	padding:0px;

}
.menu ul li{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:100px;
	float:left;
	list-style-type:none;

}
.menu ul li a{
	font-size:20px;
	font-style:italic;
	padding-top:7px;
	width:100px;
	height:30px;
	text-align:center;
	text-decoration:none;
	display:block;
	color:blue;
}
.menuler{
	background-color:green;
	margin:0px;
	font-family:tahamo;
	font-size:25px;
	font-style:italic;
	font-weight:bold;

}
body{
	margin:0px;
	padding:0px;


}
.is{
	font-size:80px;
	padding-left:200px;
	margin:0px;
	padding-top:140px;

}
h1{
	color:blue;
	padding-left:340px;
	margin:0px;
}
h3{
	color:blue;
	padding: 0px;
	margin: 0px;
}
p{

	font-family:Tahomo;
	font-style:italic;
	font-size:20px;
	color:red;
	margin:10px;

}
.sol ul li{

	list-style-type:none;


}
.sol{
	height:900px;
	width:250px;
	float:left;

	margin-left:150px;
	background-color:#bbb;

}
.sag{
	height:900px;
	width:700px;
	float:left;

	background-color:#ddd;
}
.sag_ust{
  height:150px;
	width:700px;
	background-color:#ddd;
}
.haberler{
	height:750px;
	width:700px;
	background-color:#ccc;
}
.haber{
  height:695px;
	width:700px;
	background-color:#ccc;
}
.sonrakibutonu{
  height:55px;
	width:700px;
	background-color:#ddd;
}
.footer{
	background-color:blue;
	height:50px;
	width:100%;
	float:left;
}
.reseve{
	color:red;
	padding-left:500px;
}
table{
  margin-bottom: 5px;
  width: 100%;
  height: 135px;
  border: 3px solid green;
  padding: 15px;
}
th{
  text-align: left;
  background-color: #ddd;
}
td{
  background-color: #eee;
}
